<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ecotronix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ecotronix</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="logo-container">
    <ion-button expand="block" class="menu-button" (click)="navigateToComponent()">Comenzar partida</ion-button>
    <ion-button expand="block" class="menu-button">Continuar partida</ion-button>
    <ion-button expand="block" class="menu-button">Ver puntuación</ion-button>
  </div>
</ion-content>
